<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather page</title>
</head>
<body>
    This is a weather page
    <div>
        Description : {{weather.description}}
    </div>
</body>
</html>